<div class="m-3 p-4 rounded-lg bg-blue-500 max-w-[600px] mx-auto text-white">
  <h2>My Heroes</h2>
  <ul class="heroes max-w-[400px] mt-3">
    <!--  -->
    <li *ngFor="let hero of heroes" class="my-4">
      <a
        routerLink="/detail/{{ hero.id }}"
        class="rounded-lg overflow-hidden flex items-center gap-5 bg-gray-500 w-full p-3"
      >
        <span class="badge p-2 flex items-center justify-center">{{
          hero.id
        }}</span>
        {{ hero.name }}
      </a>
    </li>
  </ul>
</div>
